<html>
<head>

</head>

<body>

<!-- postListItem 프레그먼트 정의 -->
<div th:fragment="postListItem(post)" class="card card-bordered">
    <div class="card-body">
        <div class="flex items-center gap-2">
            <img class="w-[30px] h-[30px] rounded-full object-cover" src="/gen/member/2024_01_17/1.jpg">
            <span class="italic" th:text="${post.author.username}"></span>
            <span class="text-gray-400" th:text="${#temporals.format(post.createDate, 'yy.MM.dd HH:mm')}"></span>
        </div>

        <h2 class="card-title">
            <a th:if="${@postService.canRead(@rq.member, post)}" th:href="@{/post/{id}(id=${post.id})}"
               th:text="${post.title}">제목</a>
            <a th:unless="${@postService.canRead(@rq.member, post)}" th:href="@{/post/{id}(id=${post.id})}">비공개 글</a>
        </h2>

        <div class="flex items-center">
            <div class="flex gap-1">
                <div class="badge gap-1"><i class="fa-regular fa-eye"></i> <span th:text="${post.hit}">조회수</span></div>
                <div class="badge gap-1"><i class="fa-solid fa-heart text-red-400"></i> <span th:text="${post.likesCount}">추천수</span></div>
            </div>

            <div class="flex-1"></div>

            <div class="card-actions justify-end">
                <a th:if="${@postService.canLike(@rq.member, post)}"
                   th:href="|/post/${post.id}/like?redirectUrl=${@rq.encodedCurrentUrl}|" class="btn btn-ghost"
                   method="POST"><i class="fa-regular fa-heart text-red-400"></i></a>
                <a th:if="${@postService.canCancelLike(@rq.member, post)}"
                   th:href="|/post/${post.id}/cancelLike?redirectUrl=${@rq.encodedCurrentUrl}|" class="btn btn-ghost"
                   method="DELETE"><i class="fa-solid fa-heart text-red-400"></i></a>
                <a th:if="${@postService.canModify(@rq.member, post)}" th:href="|/post/${post.id}/edit|"
                   class="btn btn-ghost"><i class="fa-solid fa-pen-to-square"></i></a>
                <a th:if="${@postService.canDelete(@rq.member, post)}"
                   th:href="|/post/${post.id}/delete?redirectUrl=${@rq.encodedCurrentUrl}|" class="btn btn-ghost"
                   method="DELETE" onclick="return confirm('정말로 삭제하시겠습니까?');"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>

    </div>
</div>

</body>

</html>